@model PaginatedList<SurfsProject.Models.Surfboard>

@{
    ViewData["Title"] = "Rented Boards";
}

<h1>Rented Boards</h1>

<table class="table table-hover table-borderless">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" style="text-decoration: none;">@Html.DisplayName("Name")</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["LengthSortParm"]" style="text-decoration: none;">@Html.DisplayName("Length")</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["WidthSortParm"]" style="text-decoration: none;">@Html.DisplayName("Width")</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ThicknessSortParm"]" style="text-decoration: none;">@Html.DisplayName("Thickness")</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["VolumeSortParm"]" style="text-decoration: none;">@Html.DisplayName("Volume")</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TypeSortParm"]" style="text-decoration: none;">@Html.DisplayName("Type")</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]" style="text-decoration: none;">@Html.DisplayName("Price")</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["EquipmentSortParm"]" style="text-decoration: none;">@Html.DisplayName("Equipment")</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null)
        {
            /*ar rentedBoards = Model
            .Where(x => x.Rentee == (string)ViewData["CurrentUserId"])
            .ToList();*/


            foreach (var item in Model)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(modelitem => item.Name)
                    </th>
                    <th>
                        @Html.DisplayFor(modelitem => item.Length)
                    </th>
                    <th>
                        @Html.DisplayFor(modelitem => item.Width)
                    </th>
                    <th>
                        @Html.DisplayFor(modelitem => item.Thickness)
                    </th>
                    <th>
                        @Html.DisplayFor(modelitem => item.Volume)
                    </th>
                    <th>
                        @Html.DisplayFor(modelitem => item.Type)
                    </th>
                    <th>
                        @Html.DisplayFor(modelitem => item.Price)
                    </th>
                    <th>
                        @Html.DisplayFor(modelitem => item.Equipment)
                    </th>
                    <th>
                        <form asp-action="CancelRent" asp-route-id="@item.Id" method="post">
                            <button type="submit" class="btn btn-outline-danger">Cancel Rent</button>
                        </form>
                    </th>
                </tr>
            }
        }

    </tbody>
</table>
